[Desktop Entry]
Name=pass GTK
Comment=GTK4 GUI for the pass password manager
Exec=pass-gnome-gui
Icon=pass-gnome-gui
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=password;pass;security;gpg;
